


.wd-search {
    background-color: darkgray;
    border-radius: 50px;
    color: white;
    height: 30px;
    width: 90%;
    margin: 10px 12px 20px 70px;

}

.wd-gear {
    position: relative;
    top: 10px;
    margin-right: 12px;
}



.wd-link-selected {
    color: rgb(29, 161, 242);
    margin-left: 20px;
}

.wd-suggested {
    border: 1px solid rgb(47, 51, 54);
    margin-left: 0px;
    overflow: auto;
}


.wd-hyperlink-label {
    size: 15px;
    padding: 16px;
}

.wd-border-bottom-blue {
    border-bottom: 4px solid;
    color: rgb(29, 161, 242);
}

.wd-inline {
    display: inline-block;
}

.wd-suggested-sub {
    color: rgb(110, 118, 125);
    font-size: 14px;
    margin-left: 10px;
}

.wd-suggested-title {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.wd-suggested-img {
    float: right;
    border-radius: 10px;
    margin-right: 16px;
}

.wd-author {
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.wd-larger-font {
    font-size: 30px;
}