ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin-left: 16px;
}

.wd-bookmark-title {
    margin-left: 16px;
    margin-top: 12px;
    color: white;
    font-size: 20px;
}

.wd-handle-details {
    color: lightgray;
    font-size: 13px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.wd-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-left: 16px;
    margin-top: 12px;
}

.wd-grid-container{
    display: grid;
    grid-template-columns: 0fr 1fr;
}

.wd-small-margin-right {
    margin-left:12px;
    margin-top: 12px;

}

.wd-username {
    color: white;
    font-size: 15px;
}

.wd-handle-details1 {
    color: lightgray;
    font-size: 15px;

}

.wd-main-post {
    color: white;
    font-size: 15px;
    margin-right:16px;
    margin-bottom: 12px;
    max-width: 506px;
}

.wd-border-around-rounded {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: 504px;

}

.wd-student-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.wd-padding-around {
    padding: 12px;
}

.wd-post-title {
    color: white;
    font-size: 15px;

}

.wd-icons {
    margin-top:12px;
    max-width:506px;
}

.wd-icon-size {
    width:  15px;
    height: 15px;
}
.wd-inline-display {
    display: inline-block;
}

.wd-margin-left-small {
    margin-left: 12px;
}

.wd-heart-color {
    color: red;
}