a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.wd-color-light-gray {
    color: rgb(47, 51, 54)
}

.wd-border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}